<!DOCTYPE html>
<html>
    <head>
        <title>Anelim's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Anelim's blog</a></h1>
        </header>

        <article>
            <time>published: 08/07/2024, 12:20</time>
            <h2><a href="">My first post</a></h2>
            <p>ok ok, vamo la, testando esse bagulho ja que eh a terceira vez que eu faco o tutorial e eh a primeira vez que chego nessa parte eu acho, nao lembro onde parei na primeira vez</p>
        </article>

        <article>
            <time>published: 08/07/2024, 12:22</time>
            <h2><a href="">My second post</a></h2>
            <p>Curioso o fato de que estou na metade do tutorial em ingles risus risus risus</p>
        </article>
    </body>
</html>