<!DOCTYPE html>
<html>
    <head>
        <title>Anelim's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Anelim's blog</a></h1>
        </header>

    {% for post in posts %}
        <article>
            <time>published: {{ post.published_date }}</time>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
    {% endfor %}

        <article>
            <time>published: 08/07/2024, 12:22</time>
            <h2><a href="">My second post</a></h2>
            <p>Curioso o fato de que estou na metade do tutorial em ingles risus risus risus</p>
        </article>
    </body>
</html>